- var PATH_ROOT = "/";

block config
  include ./_config

doctype html

html(lang="ja")
  head
    include module/_head

    title #{TITLE}
    meta(name="description", content="")

  body
    #wrap
      .l-header
        include module/_header
      .l-content
        block content
      .l-footer
        include module/_footer
