extend _template

block content
  .p-hero
    .l-outer
      .p-hero__inner.l-inner
        h1.p-hero__head H1

  main.l-main
    section.c-section.p-xxx
      .l-outer
        .c-section__inner.p-xxx__inner.l-inner
          h2.c-section__head.p-xxx__head Heading
          .c-section__content.p-xxx__content
            p Content
