extend _template

block content
  .p-hero
    .l-outer
      .p-hero__inner.l-inner
        h1.p-hero__head H1

  main.l-main
    section.c-section.p-xxx
      .l-outer
        .c-section__inner.p-xxx__inner.l-inner
          h2.c-section__head.p-xxx__head Heading
          .c-section__content.p-xxx__content
            p Content

    section.c-section.p-test
      .l-outer
        .c-section__inner.p-test__inner.l-inner
          h2.c-section__head.p-test__head Form
          .c-section__content.p-test__content
            form.c-form#js-form
              .c-form-inputs
                .c-form-inputs__group
                  label.c-form-inputs__label 氏名
                    span.__required 必須
                  .c-form-inputs__input
                    input(type="text", name="name", required, placeholder="例）氏名 太郎")
                    .__error-message(data-js-error-message="name")
                .c-form-inputs__group
                  label.c-form-inputs__label メールアドレス
                    span.__required 必須
                  .c-form-inputs__input
                    input(type="email", name="email", required, pattern="^[a-zA-Z0-9-_\.]+@[a-zA-Z0-9-_\.]+$", title="メールアドレスの形式で入力してください", placeholder="例）example@ex.com")
                    .__error-message(data-js-error-message="email")
                .c-form-inputs__group
                  label.c-form-inputs__label 電話番号
                    span.__required 必須
                  .c-form-inputs__input
                    input(type="tel", name="tel", required, pattern="^0[0-9]{9,10}$", title="電話番号の形式で入力してください", placeholder="例）09012345678")
                    .__error-message(data-js-error-message="tel")
                    .c-form-inputs__caption: small ハイフン無しで入力してください
                .c-form-inputs__group
                  label.c-form-inputs__label 任意項目
                    span.__any 任意
                  .c-form-inputs__input
                    input(type="text", name="any")
              .c-form-submit
                button.c-btn(type="submit") 送信する
